<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers
      </button>
      <br><br>
      <ul class="list-group">
        <ng-container *ngIf="onlyOdd">
          <li [ngClass]="{odd: nr % 2 !== 0}"
              [ngStyle]="{backgroundColor: nr % 2 !==0 ? 'yellow': 'transparent'}"
              class="list-group-item" *ngFor="let nr of oddNumbers">
            {{nr}}
          </li>
        </ng-container>
        <ng-container *appUnless="onlyOdd">
          <li
            [ngClass]="{odd: nr % 2 !== 0}"
            [ngStyle]="{backgroundColor: nr % 2 !==0 ? 'yellow': 'green'}"
            class="list-group-item" *ngFor="let nr of evenNumbers">
            {{nr}}
          </li>
        </ng-container>
      </ul>
      <p appBasicHighlight>Style me with basic directive</p>
      <p [appBetterHighlight]="'red'" defaultColor="green">Style me with better directive</p>

      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">value is 5</p>
        <p *ngSwitchCase="10">value is 10</p>
        <p *ngSwitchCase="100">value is 100</p>
        <p *ngSwitchDefault>value is Default</p>
      </div>
    </div>

  </div>
</div>
